

@model List<BlogDTO>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<!-- page title -->
<section class="page-title bg-primary position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white font-tertiary">Blogs</h1>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <img src="~/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
    <img src="~/images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">
    <img src="~/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
    <img src="~/images/illustrations/dots-cyan.png" alt="illustrations" class="bg-shape-3">
    <img src="~/images/illustrations/dots-group-sm.png" alt="illustrations" class="bg-shape-2">
    <img src="~/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->
<!-- blog -->
<section class="section">
    <div class="container">
        <div class="row">

            @foreach(var blog in Model)
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <article class="card shadow">
                        <img class="rounded card-img-top img-fluid" src="@blog.Image.Url" alt="post-thumb">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="text-dark" href="/Blog/Detail/@blog.Id">@blog.Title</a>
                            </h4>
                           @*  <div class="cars-text">
                                
                                @Html.Raw(blog.Content.Length > 100 ? blog.Content.Substring(0,99) : blog.Content) ...
                            </div> *@
                            <a href="/Blog/Detail/@blog.Id" class="btn btn-xs btn-primary">Read More</a>
                            
                        </div>
                    </article>
                </div>
            }

          
        </div>
    </div>
</section>
<!-- /blog -->
@await Html.PartialAsync("_technologies-logo")