@using Entity.Dto.AboutPages
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
@model AboutPageViewDTO
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white font-tertiary">About Me</h1>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <img src="~/images/illustrations/leaf-bg-top.png" alt="illustrations" class="bg-shape-1 w-100">
    <img src="~/images/illustrations/dots-group-sm.png" alt="illustrations" class="bg-shape-2">
    <img src="~/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
    <img src="~/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-5">

</section>
<!-- /page title -->
<!-- about -->
<section class="section pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @Html.Raw(@Model.desc)
            </div>
            <div class="col-md-4 text-center drag-lg-top">
                <div class="shadow-down mb-4">
                    <img src="~/@Model.Image.Url" alt="author" class="img-fluid w-100 rounded-lg border-thick border-white">
                </div>
                <img src="~/images/about/signature.png" alt="signature" class="img-fluid">
                <h4>Muhammed Durmaz</h4>
            </div>
        </div>
    </div>
</section>
<!-- /about -->
@await Html.PartialAsync("_technologies-logo")