@using Entity.Dto.ContactForms
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- contact -->
<section class="section section-on-footer" data-background="images/backgrounds/bg-dots.png">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Contact Info</h2>
            </div>
            <div class="col-lg-8 mx-auto">
                <div class="bg-white rounded text-center p-5 shadow-down">
                    <h4 class="mb-80">Contact Form</h4>
                    <form asp-controller="Contact" asp-action="SendForm" method="post" class="row">
                        <div class="col-md-6">
                            <input  type="text" id="name" name="Name" placeholder="Full Name" class="form-control px-0 mb-4" required>
                        </div>
                        <div class="col-md-6">
                            <input  type="email" id="email" name="Email" placeholder="Email Address" class="form-control px-0 mb-4" required>
                        </div>
                        <div class="col-12">
                            <textarea  name="Message" id="message" class="form-control px-0 mb-4"
                                      placeholder="Type Message Here" required></textarea>
                        </div>
                        <div class="col-lg-6 col-10 mx-auto">
                            <button type="submit" class="btn btn-primary w-100">send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>