
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@await Html.PartialAsync("_contactForm")
<!-- /contact -->
<!-- footer -->
<footer class="bg-dark footer-section">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-light">Email</h5>
                    <a href="mailto:mdurmaz.dev@gmail.com"> <p class="text-white paragraph-lg font-secondary">mdurmaz.dev@gmail.com</p></a>
                    
                </div>
                <div class="col-md-4">
                    <h5 class="text-light">Phone</h5>
                    <p class="text-white paragraph-lg font-secondary">+90 000 000 00 00</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-light">Address</h5>
                    <p class="text-white paragraph-lg font-secondary">Istanbul - Adana</p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top text-center border-dark py-5">
        <p class="mb-0 text-light">
            Copyright &copy;<script>
                                var CurrentYear = new Date().getFullYear()
                                document.write(CurrentYear)
            </script> Designed &amp; Developed by <a class="text-warning-50" target="_blank" href="https://github.com/muhammeddurmaz">Muhammed Durmaz</a>
        </p>
    </div>
</footer>
<!-- /footer -->