<!-- clients -->
<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Technologies</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="client-logo-slider d-flex align-items-center">
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-9.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-1.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4 justify-content-center align-items-center">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-8.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-2.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-3.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-4.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-5.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-1.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-2.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-3.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-4.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-5.png" alt="client-logo">
                    </a>
                    <a href="contact.html" class="text-center d-block outline-0 p-4">
                        <img class="d-unset img-fluid"
                             src="~/images/clients-logo/client-logo-7.png" alt="client-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /clients -->